body
{
	overflow: hidden;
	background-color: black;
	color: #bbb;
	font-family: monospace;
	margin: 0;
}

#main-page
{
	width: 800px;
	height: 90vh;
	margin: auto;
	overflow-y: scroll;
}

#main
{
	width: 760px;
	margin: auto;
}

#bottom
{
	height: 280px;
}

svg
{
	animation-name: creating-svg;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.function
{
	overflow: hidden;
	max-height: 30px;
}

@keyframes creating-svg
{
	0%{
		width: 150px;
	}
	100%{
		width: 600px;
	}
}

.form
{
	width: 760px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	min-height: 150px;
	border: 1px #222 solid;
	margin-bottom: 30px;
}

.form:hover
{
	transition: border 0.23s;
	border: 1px #555 solid;
}

.form>#title
{
	padding: 15px 0px 10px 0px;
    font-weight: bold;
    font-size: 18px;
	color: coral;
}	

@keyframes creating
{
	0%{
		width: 150px;
	}
	100%{
		width: 748px;
	}
}

.sorting
{
	text-align: center;
	min-height: 400px;
	border: 1px #222 solid;
	padding: 5px;
	margin-bottom: 30px;
	animation-name: creating;
	animation-duration: 1s;
	overflow: hidden;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.sorting:hover
{
	transition: border 0.23s;
	border: 1px #555 solid;
}

.title
{
	max-height: 35px;
	font-size: 26px;
	color: lightpink;
}

.data_container>.data
{
	fill: #333;
	stroke: white; 
	stroke-width: 1;
}

.data_container>.data:hover
{
	fill: lightblue;
	cursor: pointer;
	stroke: black;
}

.content
{

}

.information
{

}

.description
{
	padding-top: 30px;
	padding-bottom: 5px;
	height: 40px;
}

.swap
{
	fill: lightcoral !important;
}

.check
{
	fill: lightskyblue !important;
}

.finish
{
	fill: lightslategray !important;
}

.disable
{
	display: none;
}

button 
{
	user-select: none;
	width: 70px;
	margin: 0px 3px 0px 3px;
	background-color: transparent;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:10px;
	border:1.5px solid #bbb;
	display:inline-block;
	cursor:pointer;
	color:#bbb;
	font-size:12px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	outline: none;
}
button:hover 
{
	transition: 0.35s;
	color: black;
	background-color:#bbb;
}
button:active 
{
	position:relative;
	top:1px;
}

.btn-pause
{
	color: black;
	background-color:#bbb;
}

.option
{
	float: right;
    color: #666;
    padding-right: 5px;
    cursor: pointer;
    user-select: none;
}
.btn-option:hover
{
	color:#ccc;
}

.text-field
{
	width: 85px;
	background-color: transparent;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:10px;
	border:1.5px solid #bbb;
	display:inline-block;
	color:#bbb;
	font-size:12px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	outline: none;
	transition: width 0.4s;
}

.text-field:focus
{
	width: 400px;
	background-color: #111;
	transition: 0.4s;
}

select, option
{
	background-color: transparent;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:10px;
	border:1.5px solid #bbb;
	display:inline-block;
	color:#bbb;
	cursor: pointer;
	font-size:12px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	outline: none;
}

#credit
{
	position: fixed;
	bottom: 0;
	right: 0;
	outline: none;
	cursor: context-menu;
	user-select: none;
	color: #ccc;
	font-size: 11px;
}

.nav-bar
{
	background: #2d2d2d;
	height: 45px;
	position: fixed;
    left: 0;
	top: 0;
	width: 100%;
	border-bottom: 1px solid transparent;
}

.nav-bar:hover
{
	transition: 0.3s;
	border-bottom: 1px solid #555;
}

.nav-bar-left
{
	left: 0;
	display: inline-block;
}

.nav-bar-right
{
	float: right;
}

.nav-bar-container
{
	height: auto;
	padding-top: 10px;
	font-size: 20px;
	width: 1000px;
	margin: auto;
}

#login
{
	cursor: pointer;
	display: inline-block;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}
  
  /* Track */
::-webkit-scrollbar-track {
	background: black; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px; 
	background: #333; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.exer-title
{
	padding: 15px 0px 10px 0px;
    font-weight: bold;
    font-size: 18px;
	color: aquamarine;
}	

#exer-easy-form>.exer-title{
	color:darkseagreen;
}

#exer-normal-form>.exer-title{
	color:burlywood;
}

#exer-hard-form>.exer-title{
	color:crimson;
}

label{
	display: block;
}

.question{
	margin-bottom: 10px;
	padding: 15px;
}

.answer-left{
	text-align: left;
	margin-left: 100px;
}