#login-layer
{
    display:none;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.7);
}

.login-container
{
    width: 290px;
    height: 225px;
    margin: 200px auto auto auto;
    background: black;
    border: 1.5px solid #bbb;
    border-radius: 15px;
    padding: 5px;
}

#login-description
{
    text-align: center;
    margin-top: 10px;
}

#login-close
{
    float: right;
    color: #666;
    cursor: pointer;
    user-select: none;
    float: right;
    margin-right: 8px;
    font-size: 15px;
}

#login-close:hover
{
	color:#ccc;
}

.login-input-field
{
    z-index: 5;
    width: 250px; 
    margin: 25px auto 0px auto; 
    position: relative;
}

.login-input
{
    border: 1px solid #444; 
    padding: 7px 14px; 
    transition: 0.4s; 
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    color:#bbb;
}

.login-input:focus
{
    outline: none;
}

.login-input ~ .focus-border:before, 
.login-input ~ .focus-border:after
{
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 0; 
    height: 2px;
    background-color: lightsalmon; 
    transition: 0.3s;
}

.login-input ~ .focus-border:after
{
    top: auto; 
    bottom: 0; 
    left: auto; 
    right: 0;
}

.login-input ~ .focus-border i:before, 
.login-input ~ .focus-border i:after 
{
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 2px; 
    height: 0; 
    background-color: lightsalmon; 
    transition: 0.4s;
}

.login-input ~ .focus-border i:after 
{
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

.login-input ~ label
{
    position: absolute; 
    left: 14px; 
    width: 100%; 
    top: 10px; 
    color: #aaa; 
    transition: 0.3s; 
    z-index: -1; 
    letter-spacing: 0.5px;
}

.login-input:valid ~ label
{
    color: black; 
}

.login-input:focus ~ label,
.login-input:valid ~ label
{
    top: -18px; 
    left: 0; 
    font-size: 12px; 
    color: lightsalmon; 
    transition: 0.3s;
}

.login-input:focus ~ .focus-border:before,
.login-input:focus ~ .focus-border:after
{
    width: 100%; 
    transition: 0.3s;
}

.login-input:focus ~ .focus-border i:before,
.login-input:focus ~ .focus-border i:after
{
    height: 100%; 
    transition: 0.4s;
}

#login-hint
{
    color: lightblue;
    width: 220px;
    margin: 10px auto 10px auto;
    height: 30px;
}

.login-input-invalid
{
    border: 1px solid red;
}
.login-text{
    display: inline;
}

.logout-text{
    display: none;
}

#welcome{
    display: inline-block;
    color: grey;
}